.win{
	margin: 20px;
}
.top{
    margin: 20px;
    width: auto;
    height: auto;
    display: inline-block;
}
#footer{
    background-color: none;
    margin: 20px;
} 
#tour {
    display: inline-block;
}
#group-photo{
    display: block;
    width: 290px;
    padding: 20px;
    margin: 50px auto;        
    background-color: #ffd800;
    border: 2px solid;
    border-radius: 15px;
    background-size: cover;
}
#pta, #mda, #mna, #dja{
    display: inline-block;
    width: 250px;
    padding: 20px;
    margin: 0 auto 0 auto;
    background-color: #ffd800;
    border: 2px solid;
    border-radius: 15px;
    background-size: cover;
}
#tour{
    display: block;
    width: 450px;
    padding: 20px;
    margin: 5px auto 0 auto;
    background-color: #ffd800;
    border: 2px solid;
    border-radius: 15px;
    background-size: cover;
}
#toTopRight {
    position: absolute; /* Absolute Link */
    bottom: auto; /* Offset however we wish*/
    right: 20px;
}
